<!-- app/views/notebooks/index.html.erb -->

<h1>Your Notebooks</h1>

<!-- Link to create a new notebook -->
<%= link_to 'New Notebook', new_notebook_path, class: 'btn btn-primary' %>

<!-- Display flash messages for notices -->
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<!-- Check if there are any notebooks to display -->
<% if @notebooks.any? %>
  <ul>
    <% @notebooks.each do |notebook| %>
      <li>
        <!-- Link to show the notebook -->
        <%= link_to notebook.title, notebook_path(notebook) %>

        <!-- Links to edit and delete the notebook -->
        <%= link_to 'Edit', edit_notebook_path(notebook), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', notebook_path(notebook),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-danger' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no notebooks. <%= link_to 'Create one now!', new_notebook_path %></p>
<% end %>
