<!-- NAVIGATION BAR -->
<nav>
  <div class="nav-left">
    <a class="logo" href="/">Bundles</a>
    <div class="nav-links">
      <%= link_to "Solutions", root_path(anchor: "solutions"), data: { turbo: false } %>
      <%= link_to "Industries", root_path(anchor: "industries"), data: { turbo: false } %>
      <%= link_to "About Us", about_us_path, data: { turbo: false } %>
    </div>
  </div>
  <div class="nav-right">
    <% if @authenticated %>
      <%= link_to @current_user&.email_address, my_hub_path, class: "demo-btn", data: { turbo: false } %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "demo-btn", data: { turbo: false } %>
    <% end %>
  </div>
</nav>
